page-signin {
    ion-content{
        background-image: url('../assets/images/galaxy.jpg'); 
        background-repeat: no-repeat !important;
        background-size:cover !important;
        min-width:100% !important; min-height:100% !important;
        
    }

    .scroll-content{
        overflow: hidden!important;
    }
    .toolbar-background{
        background-color :yellow;
    }
    .center{
        text-align: center;
        margin-top: 25%;
    }
    ion-input {
      border-bottom: 1px solid #FFF;
      color: #FFF;

    }
    ion-label {
        color : white;
     
    }

    #box{
        margin-top:100px;
    }
    
}
